<footer class="w-full py-6 text-white mt-12">
    <div class="container mx-auto px-4 flex flex-col items-center justify-center space-y-4 lg:space-y-0 lg:flex-row lg:justify-between">
      <!-- Social Links -->
      <div class="flex space-x-6">
        <a href="https://github.com/MitjaCH" target="_blank" class="text-white hover:text-gray-400">
          <i class="fab fa-github text-lg"></i>
        </a>
        <a href="https://discord.com/#" target="_blank" class="text-white hover:text-gray-400">
          <i class="fab fa-discord text-lg"></i>
        </a>
        <a href="https://instagram.com/mitja.ch" target="_blank" class="text-white hover:text-gray-400">
          <i class="fab fa-instagram text-lg"></i>
        </a>
        <a href="https://linkedin.com/in/#" target="_blank" class="text-white hover:text-gray-400">
          <i class="fab fa-linkedin text-lg"></i>
        </a>
        <a href="https://dot-net.gay/" target="_blank" class="text-white hover:text-gray-400">
          <i class="fa-solid fa-gun"></i>
        </a>
      </div>
  
      <p class="text-sm text-center text-gray-400">
        &copy; 2025 Mitja Kurath. All rights reserved.
      </p>
    </div>
  </footer>
  
