<section class="pt-20 pb-12 bg-transparent">
    <div class="container mx-auto px-4 flex flex-col items-center text-center">
      
      <img src="https://github.com/MitjaCH.png" alt="MitjaCH Profile Picture"
           class="w-32 h-32 rounded-full shadow-md mb-4">

      <h2 class="text-3xl font-bold">MitjaCH</h2>
      
      <p class="mt-4 max-w-lg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo laboriosam, libero neque aperiam quasi dolor, eos accusamus saepe voluptate voluptates corporis fuga inventore architecto iste exercitationem quae explicabo officia alias?
      </p>
    </div>
  </section>